* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

body {
  background-color: rgb(26, 26, 26);
  width: 100%;
}

header {
  display: flex;
}

nav ul {
  display: inline-block;
  display: flex;
  list-style: none;
  gap: 5px;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: inline-block;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

.nav1 {
  margin-left: 10px;
}

.nav2 {
  margin-left: auto;
  margin-right: 10px;
}

.nav2 nav ul li:last-child {
  background-color: #4285F4;
  border-radius: 3px;
}

.logo {
  text-align: center;
  padding-top: 215px;
  
}

.search {
  text-align: center;
  padding: 20px;
}

.search input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 400px;
  height: 30px;
  font-size: 17px;
  
}

.buttons {
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

button {
  padding: 10px;
  border: 1px solid transparent;
  font-size: 15px;
  border-radius: 3px;
  background-color: rgba(93, 92, 92, 0.5);
  color: white;
  

}

button:hover {
  cursor: pointer;
  border: 1px solid white;
  
  
}

p a {
  /* Edited p as there are no other paragraphs in the code. */
  text-decoration: underline;
  padding: 3px;
  
}

.language {
  text-align: center;
  text-align: bottom;
  font-size: 14px;
  color: white;
}

.turkey p {
  padding: 15px;
  background-color: rgb(14, 14, 14);
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  border-bottom: 0.1px solid white;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(14, 14, 14);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height:50px;
  
}

.footer-nav1 {
  width: 25%;
  white-space: nowrap;
  margin-left: 10px;
  
}

.footer-nav2 {
  width: 25%;
  display: flex; justify-content: right;
  margin-right: 10px;
}

.carbon img {
  padding-right: 6px;
  width: 18px;
}

form {
  display: flex;
  width: fit-content;
  justify-content: center;
  border: 0.1px solid white;
  margin: 0 auto;
  border-radius: 30px;
  align-items: center; 

}

.search-img {
  padding: 10px;
  height: 40px;
}

.search a {
  padding: 0;
}